@media screen and (min-width: 1400px) {
  .glitch-wrapper {
    position: absolute;
    top: -5vh;
  }

  #generate-quote-button {
    position: absolute;
    width: 15vw;
    min-width: 180px;
    height: 2.8rem;
    bottom: 19.5vh;
  }
}
