@media screen and (min-width: 1400px) {
  .logo {
    position: absolute;
    top: 35%;
  }

  .glitch-wrapper {
    top: 5vh;
  }

  .cute-ghosts {
    top: 62.5vh;
  }

  #generate-quote-button {
    bottom: 25vh;
  }
}
