@media (max-width: 414px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .salutation {
    position: absolute;
    top: 4vh;
    font-size: 1.4rem;
    font-family: "Nanum Pen Script", cursive;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    filter: drop-shadow(0 0 0.2rem #000);
  }

  .bat {
    width: 70vw;
    top: 23vh;
  }

  .glitch-wrapper {
    top: -10vh;
  }

  .glitch {
    font-size: 1.8rem;
  }

  .container .cute-ghosts {
    width: 20vw;
    top: 56vh;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%);
    transition: all 0.3s ease-in-out;
  }

  .container #generate-quote-button {
    top: 63vh;
    font-size: 1.2rem;
  }

  .ano {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.75rem;
    filter: drop-shadow(0 0 0.2rem #000);
  }

  .ano span {
    font-size: 1rem;
    font-family: "Nanum Pen Script", cursive;
    filter: drop-shadow(0 0 0.2rem #000);
  }
}







