* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

body {
  background-color: #0c0f14;
  opacity: 1;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    0deg,
    #080808,
    #080808 0.6000000000000001px,
    #0c0f14 0.6000000000000001px,
    #0c0f14
  );
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c9d1d9;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b727c;
}

.salutation {
  position: absolute;
  top: 4vh;
  font-size: 1.4rem;
  font-family: "Nanum Pen Script", cursive;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.logo1 {
  position: absolute;
  top: 38vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 14vw;
  height: 28vh;
  background: #0c0f14;
  border: 4px solid #c9d1d9;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.4rem #000);
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  z-index: 1;
}

.logo1:hover {
  filter: drop-shadow(0 0 0.4rem #c9d1d9);
}

.logo1 .logo {
  position: absolute;
  width: 13vw;
  top: 13vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 1rem #000);
}

.glitch-wrapper {
  position: absolute;
  top: 8vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.glitch {
  position: relative;
  font-size: 2.8rem;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 300;
  letter-spacing: 0.5rem;
  color: #c9d1d9;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #c9d1d9;
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #c9d1d9;
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

.cute-ghosts {
  position: absolute;
  width: 5.5vw;
  top: 68.5vh;
  left: 47.5%;
  margin-right: -50%;
  transform: translate(-50%);
  filter: drop-shadow(0 0 0.3rem #c9d1d9);
  transition: all 0.3s ease-in-out;
}

@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.cute-ghosts {
  animation-name: animacao;
  animation-duration: 1s;
  animation-delay: 2.7s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

#generate-quote-button {
  position: absolute;
  width: 9.9rem;
  height: 2.5rem;
  background-image: linear-gradient(to right, #6b727c, #c9d1d9);
  bottom: 17vh;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.3rem;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 600;
  color: #121212;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0 0 0.4rem #000);
}

@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
#generate-quote-button {
  animation-name: animacao;
  animation-duration: 1s;
  animation-delay: 2.7s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

#generate-quote-button:hover {
  border: none;
  background-image: linear-gradient(to right, #000, #000);
  color: #c9d1d9;
  font-weight: 300;
  filter: drop-shadow(0 0 0.3rem #c9d1d9);
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.links-container {
  animation-name: animacao;
  animation-duration: 1s;
  animation-delay: 2.7s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

.links-container a {
  margin: 0.5rem;
  filter: drop-shadow(0 0 0.4rem #000);
}

.links-container a:hover {
  filter: drop-shadow(0 0 0.4rem #6b727c);
}

.ano {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.75rem;
}

.ano span {
  font-size: 1rem;
  font-family: "Nanum Pen Script", cursive;
}
