@media screen and (min-width: 1400px) {
  #random-quote {
    top: 22vh;
    font-size: 1.25rem;
  }

  #generate-quote-button {
    top: 72vh;
  }

  .por-hora {
    position: absolute;
    top: 78vh;
  }

  .description {
    left: 6.5vw;
    font-weight: 300;
  }
}
